flows.json
[
    {
        "id": "727cabf56f83b992",
        "type": "tab",
        "label": "Graphql Reflow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c107fab43a12cc56",
        "type": "tab",
        "label": "Login & password",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "97fe2bfd9d427697",
        "type": "tab",
        "label": "description",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c9cff8dccd3e7c63",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 100,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 280,
                "y": 100,
                "wires": []
            },
            {
                "x": 280,
                "y": 40,
                "wires": []
            }
        ],
        "env": [
            {
                "name": "ciao",
                "type": "str",
                "value": "www"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "6dbb08529c2feac4",
        "type": "subflow",
        "name": "createResourceSpecification",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 260,
                "wires": [
                    {
                        "id": "8ba8672253c19bee"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1000,
                "y": 280,
                "wires": [
                    {
                        "id": "8ba8672253c19bee",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "msg.paylod",
                "type": "str",
                "value": "ciaone"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "a5c1f7e89e3b03fd",
        "type": "subflow",
        "name": "createEconomicEvent",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 100,
                "wires": [
                    {
                        "id": "56e154a4b3ebc140"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 100,
                "wires": [
                    {
                        "id": "56e154a4b3ebc140",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e0d0143ee4f650a7",
        "type": "graphql-server",
        "name": "http://135.181.35.156:4000/api/explore",
        "endpoint": "http://135.181.35.156:4000/api/explore"
    },
    {
        "id": "a287ae1dd51eeecf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c9d709a9e6f0e5d0",
        "type": "ui_tab",
        "name": "User Login",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "81a2327eebeb329c",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f8ed9928a5c8219",
        "type": "ui_group",
        "name": "User Credentials",
        "tab": "c9d709a9e6f0e5d0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5e3e9edf345cb08e",
        "type": "inject",
        "z": "6dbb08529c2feac4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "panino24",
        "payloadType": "str",
        "x": 180,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1b23c94eb99f920f",
        "type": "inject",
        "z": "a5c1f7e89e3b03fd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "global"
            },
            {
                "p": "provider",
                "v": "01FNBRZ027Z3ZRCTT4T9VBP614",
                "vt": "str"
            },
            {
                "p": "receiver",
                "v": "01FNBRZ027Z3ZRCTT4T9VBP614",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "panino01",
        "payloadType": "str",
        "x": 160,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2904ace6e2db2de0",
        "type": "debug",
        "z": "727cabf56f83b992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "15d13b69700b3f79",
        "type": "debug",
        "z": "727cabf56f83b992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.createResourceSpecification.resourceSpecification.name",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 300,
        "wires": []
    },
    {
        "id": "e7b258043edef789",
        "type": "debug",
        "z": "727cabf56f83b992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "adaeba8df8381001",
        "type": "debug",
        "z": "727cabf56f83b992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.createResourceSpecification.resourceSpecification.id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 360,
        "wires": []
    },
    {
        "id": "2657e417f7a280b4",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "01FHZ173XKBT6MEJ8AHEMEW2WJ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "01FN3WSXMS3NX619X4D7MXQ915",
        "payloadType": "str",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "e35842588beca687"
            ]
        ]
    },
    {
        "id": "cc2b490738580147",
        "type": "debug",
        "z": "727cabf56f83b992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "bc7ffb3b5356e167",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "panino27",
        "payloadType": "str",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "c5234d58e71c5939"
            ]
        ]
    },
    {
        "id": "940bca3943bc8846",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "",
        "props": [
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "290c0e2a75b888f7"
            ]
        ]
    },
    {
        "id": "1a50cc1518b94141",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "categories",
        "props": [
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "56909346ae0b2936"
            ]
        ]
    },
    {
        "id": "29c0a5eaed0a081e",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "01FHZ173XKBT6MEJ8AHEMEW2WJ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "01FHZ173XKBT6MEJ8AHEMEW2WJ",
        "payloadType": "str",
        "x": 220,
        "y": 60,
        "wires": [
            [
                "40c072ba9b76a06f"
            ]
        ]
    },
    {
        "id": "6ce7457c953c42fa",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "resourceSpecifications",
        "props": [
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "26bbd87b588de087"
            ]
        ]
    },
    {
        "id": "6cb1513fff472c8a",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "resourceClassifiedAs",
        "props": [
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "1a0ceb0c59822944"
            ]
        ]
    },
    {
        "id": "b56a5d4324b5c24a",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "resourceSpecifications",
        "props": [
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 660,
        "wires": [
            [
                "7b1ec27c82af6140"
            ]
        ]
    },
    {
        "id": "bdb14b78eab721c4",
        "type": "debug",
        "z": "727cabf56f83b992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 660,
        "wires": []
    },
    {
        "id": "afc235fb9d3b02ce",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "resourceSpecifications",
        "props": [
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 140,
        "y": 780,
        "wires": [
            [
                "46591adb4083608e"
            ]
        ]
    },
    {
        "id": "33cd2bd05dd3e0ad",
        "type": "debug",
        "z": "727cabf56f83b992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 780,
        "wires": []
    },
    {
        "id": "d7cf0ddc51b3ded8",
        "type": "subflow:6dbb08529c2feac4",
        "z": "727cabf56f83b992",
        "name": "",
        "x": 520,
        "y": 940,
        "wires": [
            [
                "ddf265c0e526efe3"
            ]
        ]
    },
    {
        "id": "a0a7d29b21414f61",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "panino26",
        "payloadType": "str",
        "x": 200,
        "y": 940,
        "wires": [
            [
                "d7cf0ddc51b3ded8"
            ]
        ]
    },
    {
        "id": "ddf265c0e526efe3",
        "type": "debug",
        "z": "727cabf56f83b992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 880,
        "wires": []
    },
    {
        "id": "8380e77d01706fcc",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "01FHZ173XKBT6MEJ8AHEMEW2WJ",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "01FN3WSXMS3NX619X4D7MXQ915",
        "payloadType": "str",
        "x": 190,
        "y": 860,
        "wires": [
            [
                "387ce95725c00385"
            ]
        ]
    },
    {
        "id": "38636c1ef951ef7d",
        "type": "subflow:6dbb08529c2feac4",
        "z": "727cabf56f83b992",
        "name": "",
        "x": 500,
        "y": 1160,
        "wires": [
            [
                "6ca0085b2479a288"
            ]
        ]
    },
    {
        "id": "e2ad6118e6f7494c",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "global"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "panino29",
        "payloadType": "str",
        "x": 180,
        "y": 1160,
        "wires": [
            [
                "38636c1ef951ef7d"
            ]
        ]
    },
    {
        "id": "6ca0085b2479a288",
        "type": "debug",
        "z": "727cabf56f83b992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1160,
        "wires": []
    },
    {
        "id": "ca65bf2a50ca7a23",
        "type": "debug",
        "z": "727cabf56f83b992",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1300,
        "wires": []
    },
    {
        "id": "9578835e9f6dab95",
        "type": "subflow:a5c1f7e89e3b03fd",
        "z": "727cabf56f83b992",
        "name": "",
        "env": [],
        "x": 480,
        "y": 1300,
        "wires": [
            [
                "ca65bf2a50ca7a23"
            ]
        ]
    },
    {
        "id": "e9a56fc9220192dd",
        "type": "inject",
        "z": "727cabf56f83b992",
        "name": "payload provider receiver",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "authorization",
                "v": "bearer",
                "vt": "global"
            },
            {
                "p": "provider",
                "v": "01FNBRZ027Z3ZRCTT4T9VBP614",
                "vt": "str"
            },
            {
                "p": "receiver",
                "v": "01FNBRZ027Z3ZRCTT4T9VBP614",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "panino03",
        "payloadType": "str",
        "x": 230,
        "y": 1300,
        "wires": [
            [
                "9578835e9f6dab95"
            ]
        ]
    },
    {
        "id": "8ba8672253c19bee",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": "mutation createResourceSpecification resourceClassifiedAs: \"pane\"",
        "graphql": "e0d0143ee4f650a7",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "mutation {\n  createResourceSpecification(\n    resourceSpecification: {\n      name: \"{{payload}}\"\n      resourceClassifiedAs: \"pane\"\n      note: \"nota pane\"\n    }\n  ) {\n    resourceSpecification {\n      id\n      name\n    }\n  }\n}\n",
        "showDebug": true,
        "x": 610,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "56e154a4b3ebc140",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": "createEconomicEvent",
        "graphql": "e0d0143ee4f650a7",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "mutation {createEconomicEvent(\n      event: {\n        action: \"produce\",\n        provider: \"{{provider}}\",\n        receiver: \"{{receiver}}\",\n        resourceQuantity: null,\n      },\n      newInventoriedResource: {\n        name: \"{{payload}}\",\n        note: \"notes\",\n        tags: \"tag\"\n      }\n      ) {\n        economicEvent {\n          id\n          note\n          resourceInventoriedAs {\n            id\n            name\n            onhandQuantity {\n              hasNumericalValue\n              hasUnit {\n                label\n                symbol\n              }\n            }\n            accountingQuantity {\n              hasNumericalValue\n              hasUnit {\n                label\n                symbol\n              }\n            }\n          }\n        }\n      }\n    }",
        "showDebug": true,
        "x": 440,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e35842588beca687",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": "query  resourceSpecification by id",
        "graphql": "e0d0143ee4f650a7",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "query MyQuery {\n  resourceSpecification(id: \"{{payload}}\") {\n    note\n    name\n    note\n    id\n    resourceClassifiedAs\n  }\n}",
        "showDebug": false,
        "x": 560,
        "y": 440,
        "wires": [
            [
                "cc2b490738580147"
            ],
            []
        ]
    },
    {
        "id": "c5234d58e71c5939",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": "mutation createResourceSpecification resourceClassifiedAs: \"pane\"",
        "graphql": "e0d0143ee4f650a7",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "mutation {\n  createResourceSpecification(\n    resourceSpecification: {\n      name: \"{{payload}}\"\n      resourceClassifiedAs: \"pane\"\n      note: \"nota pane\"\n    }\n  ) {\n    resourceSpecification {\n      id\n      name\n    }\n  }\n}\n",
        "showDebug": true,
        "x": 490,
        "y": 560,
        "wires": [
            [
                "cc2b490738580147"
            ],
            [
                "cc2b490738580147"
            ]
        ]
    },
    {
        "id": "290c0e2a75b888f7",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": "mutation createResourceSpecification resourceClassifiedAs: \"pane\" panettone",
        "graphql": "e0d0143ee4f650a7",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "mutation {\n  createResourceSpecification(\n    resourceSpecification: {\n      name: \"panettone\"\n      resourceClassifiedAs: \"pane\"\n      note: \"nota panez\"\n    }\n  ) {\n    resourceSpecification {\n      id\n      name\n    }\n  }\n}\n",
        "showDebug": true,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "adaeba8df8381001",
                "15d13b69700b3f79",
                "e7b258043edef789"
            ],
            []
        ]
    },
    {
        "id": "40c072ba9b76a06f",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": "resourceSpecification",
        "graphql": "e0d0143ee4f650a7",
        "format": "text",
        "syntax": "mustache",
        "template": "query MyQuery {   resourceSpecification (id: \"{{payload}}\") {     note,     name,     note,     id,     resourceClassifiedAs,   } }",
        "showDebug": false,
        "x": 660,
        "y": 60,
        "wires": [
            [
                "2904ace6e2db2de0"
            ],
            []
        ]
    },
    {
        "id": "56909346ae0b2936",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": "categories",
        "graphql": "e0d0143ee4f650a7",
        "format": "text",
        "syntax": "mustache",
        "template": "query MyQuery {\n  categories {\n    pageInfo {\n      hasNextPage\n      hasPreviousPage\n    }\n    totalCount\n  }\n}\n",
        "showDebug": false,
        "x": 630,
        "y": 120,
        "wires": [
            [
                "2904ace6e2db2de0"
            ],
            []
        ]
    },
    {
        "id": "26bbd87b588de087",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": " resourceSpecifications",
        "graphql": "e0d0143ee4f650a7",
        "format": "text",
        "syntax": "mustache",
        "template": "query MyQuery query MyQuery {\n  resourcesClassification {\n    name\n  }\n}",
        "showDebug": false,
        "x": 660,
        "y": 180,
        "wires": [
            [
                "2904ace6e2db2de0"
            ],
            []
        ]
    },
    {
        "id": "1a0ceb0c59822944",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": " resourceSpecifications",
        "graphql": "e0d0143ee4f650a7",
        "format": "text",
        "syntax": "mustache",
        "template": "query MyQuery {\n  resourcesClassification {\n    name\n  }\n}",
        "showDebug": false,
        "x": 660,
        "y": 240,
        "wires": [
            [
                "2904ace6e2db2de0"
            ],
            []
        ]
    },
    {
        "id": "7b1ec27c82af6140",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": "query Agents",
        "graphql": "e0d0143ee4f650a7",
        "format": "text",
        "syntax": "mustache",
        "template": "query agents{\n  agents(limit: 30) {\n    canonicalUrl\n    displayUsername\n    id\n    image\n  }\n}\n",
        "showDebug": false,
        "x": 490,
        "y": 660,
        "wires": [
            [
                "bdb14b78eab721c4"
            ],
            []
        ]
    },
    {
        "id": "46591adb4083608e",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": "query economicResources",
        "graphql": "e0d0143ee4f650a7",
        "format": "text",
        "syntax": "mustache",
        "template": "query economicResources {\n  economicResources {\n    id\n    image\n    name\n    note\n  }\n}",
        "showDebug": false,
        "x": 460,
        "y": 780,
        "wires": [
            [
                "33cd2bd05dd3e0ad"
            ],
            []
        ]
    },
    {
        "id": "387ce95725c00385",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": "query  resourceSpecification by id",
        "graphql": "e0d0143ee4f650a7",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "query MyQuery {\n  resourceSpecification(id: \"{{payload}}\") {\n    note\n    name\n    note\n    id\n    resourceClassifiedAs\n  }\n}",
        "showDebug": false,
        "x": 500,
        "y": 860,
        "wires": [
            [
                "ddf265c0e526efe3"
            ],
            []
        ]
    },
    {
        "id": "666de9b2a745c73e",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": "http://135.181.35.156:4000/api/explore",
        "graphql": "e0d0143ee4f650a7",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "mutation {\n   \n      login(emailOrUsername: \"{{emailOrUsername}}\", password: \"{{passwd}}\") {\n      token # Use the token to activate a session with the server\n    }\n}",
        "showDebug": true,
        "x": 710,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f6e1e392a9c88352",
        "type": "graphql",
        "z": "727cabf56f83b992",
        "name": "Request Bearer Token",
        "graphql": "e0d0143ee4f650a7",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "mutation {\n   \n      login(emailOrUsername: \"{{emailOrUsername}}\", password: \"{{passwd}}\") {\n      token # Use the token to activate a session with the server\n    }\n}",
        "showDebug": true,
        "x": 460,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "935b3e0a5cf84e10",
        "type": "inject",
        "z": "c107fab43a12cc56",
        "name": "Set bearer in flow / execute login",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "9cdf5bce7aa97dbd"
            ]
        ]
    },
    {
        "id": "9cdf5bce7aa97dbd",
        "type": "change",
        "z": "c107fab43a12cc56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "emailOrUsername",
                "pt": "msg",
                "to": "emailOrUsername",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "passwd",
                "pt": "msg",
                "to": "passwd",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ace41e1f09e93531",
        "type": "inject",
        "z": "c107fab43a12cc56",
        "name": "Set User Credentials",
        "props": [
            {
                "p": "emailOrUsername",
                "v": "adamb@free2air.net",
                "vt": "str"
            },
            {
                "p": "passwd",
                "v": "f4zE2VCjinxD7HQ",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "68b030a290a82aaa"
            ]
        ]
    },
    {
        "id": "a8a04515c2c69ffb",
        "type": "debug",
        "z": "c107fab43a12cc56",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 40,
        "wires": []
    },
    {
        "id": "5d24de78469bdbbf",
        "type": "debug",
        "z": "c107fab43a12cc56",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 60,
        "wires": []
    },
    {
        "id": "bce6e0290e97db78",
        "type": "template",
        "z": "c107fab43a12cc56",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Bearer {{payload.login.token}}",
        "output": "str",
        "x": 980,
        "y": 80,
        "wires": [
            [
                "5d24de78469bdbbf",
                "76bb49a29c827b4b"
            ]
        ]
    },
    {
        "id": "76bb49a29c827b4b",
        "type": "change",
        "z": "c107fab43a12cc56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "bearer",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "68b030a290a82aaa",
        "type": "change",
        "z": "c107fab43a12cc56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "emailOrUsername",
                "pt": "global",
                "to": "emailOrUsername",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "passwd",
                "pt": "global",
                "to": "passwd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 40,
        "wires": [
            [
                "a8a04515c2c69ffb"
            ]
        ]
    },
    {
        "id": "1455fd270a02a9ef",
        "type": "inject",
        "z": "c107fab43a12cc56",
        "name": "Set User Credentials",
        "props": [
            {
                "p": "emailOrUsername",
                "v": "adamb@free2air.net",
                "vt": "str"
            },
            {
                "p": "passwd",
                "v": "f4zE2VCjinxD7HQ",
                "vt": "str"
            },
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "bc08b0b12cc271c4"
            ]
        ]
    },
    {
        "id": "d6829ad222491b33",
        "type": "debug",
        "z": "c107fab43a12cc56",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 480,
        "wires": []
    },
    {
        "id": "bc08b0b12cc271c4",
        "type": "template",
        "z": "c107fab43a12cc56",
        "name": "Bearer Format Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Bearer {{payload.login.token}}",
        "output": "str",
        "x": 770,
        "y": 520,
        "wires": [
            [
                "d6829ad222491b33",
                "9e6d732973913116"
            ]
        ]
    },
    {
        "id": "9e6d732973913116",
        "type": "change",
        "z": "c107fab43a12cc56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "bearer",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b3731ae436f3ebc6",
        "type": "inject",
        "z": "c107fab43a12cc56",
        "name": "Clear User Bearer Token",
        "props": [
            {
                "p": "time",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "2f57c0a7efd25c08"
            ]
        ]
    },
    {
        "id": "2f57c0a7efd25c08",
        "type": "change",
        "z": "c107fab43a12cc56",
        "name": "Clear Token",
        "rules": [
            {
                "t": "set",
                "p": "emailOrUsername",
                "pt": "global",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "passwd",
                "pt": "global",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "bearer",
                "pt": "global",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1334f10047f63046",
        "type": "debug",
        "z": "c107fab43a12cc56",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "fe8deba01d89aefe",
        "type": "file in",
        "z": "c107fab43a12cc56",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 120,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "472c36ef3659847a",
        "type": "comment",
        "z": "c107fab43a12cc56",
        "name": "Adam's WIP",
        "info": "",
        "x": 130,
        "y": 380,
        "wires": []
    },
    {
        "id": "15d6985815f592a9",
        "type": "comment",
        "z": "c107fab43a12cc56",
        "name": "TODO: Credentials to be moved to file read or text input",
        "info": "",
        "x": 260,
        "y": 580,
        "wires": []
    },
    {
        "id": "639db58931f51a72",
        "type": "ui_text_input",
        "z": "c107fab43a12cc56",
        "name": "",
        "label": "Login",
        "tooltip": "",
        "group": "6f8ed9928a5c8219",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "email",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "ae026888b8ae8e2e",
        "type": "ui_text_input",
        "z": "c107fab43a12cc56",
        "name": "",
        "label": "Password",
        "tooltip": "",
        "group": "6f8ed9928a5c8219",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "59fcc23356d23664",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "create need",
        "env": [],
        "x": 130,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cc2ca38f29de0335",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "commitment",
        "env": [],
        "x": 330,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fa48050405817f11",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "transfer",
        "env": [],
        "x": 780,
        "y": 360,
        "wires": [
            [],
            []
        ],
        "info": "mutation {\n  createEconomicEvent(\n    event: {\n      action: \"transfer\"\n      provider: \"01F7XMMHQ81HQ6DA10XFN24B2E\"\n      receiver: \"01F3MHQ0KWJC7M19B1E8BXVY46\"\n      resourceInventoriedAs: \"01FFMT6P66YDV0Y95XZ6P6JATR\"\n      resourceQuantity: {\n        hasUnit: \"01FFJEBJ4S4E4ZDWZNEWYFZYD7\"\n        hasNumericalValue: 1\n      }\n    }\n\n    newInventoriedResource: { name: \"Apples\" }\n  ) {\n    economicEvent {\n      id\n\n      note\n\n      resourceInventoriedAs {\n        id\n\n        name\n\n        onhandQuantity {\n          hasNumericalValue\n\n          hasUnit {\n            label\n\n            symbol\n          }\n        }\n\n        accountingQuantity {\n          hasNumericalValue\n\n          hasUnit {\n            label\n\n            symbol\n          }\n        }\n      }\n    }\n  }\n}\n"
    },
    {
        "id": "197dd2379024c2b2",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "pickup",
        "env": [],
        "x": 990,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6a6222892900f5de",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "dropoff",
        "env": [],
        "x": 1180,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "98fff48f113dc4b9",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "weight",
        "env": [],
        "x": 1350,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "850bd9e0508fb832",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "work sort",
        "env": [],
        "x": 1520,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d986fa60fe5fb7a0",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "discard",
        "env": [],
        "x": 1520,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8a7bed3b199a3ae2",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "work grind",
        "env": [],
        "x": 1890,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "61d92c306bdd72b0",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "consume",
        "env": [
            {
                "name": "ciao",
                "value": "",
                "type": "str"
            }
        ],
        "x": 1700,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "853336f3dd7dfa35",
        "type": "comment",
        "z": "97fe2bfd9d427697",
        "name": "bakery ",
        "info": "",
        "x": 310,
        "y": 300,
        "wires": []
    },
    {
        "id": "19c4d812d94c5326",
        "type": "comment",
        "z": "97fe2bfd9d427697",
        "name": "ibrida",
        "info": "",
        "x": 110,
        "y": 300,
        "wires": []
    },
    {
        "id": "8dc6632d51e60240",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "process (brewing)",
        "env": [],
        "x": 2150,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f4ef30565793f327",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "production batch",
        "env": [],
        "x": 2430,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2642d7d8ba5ceeea",
        "type": "comment",
        "z": "97fe2bfd9d427697",
        "name": "bakery ",
        "info": "",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "5fe4d10c9ad3f983",
        "type": "comment",
        "z": "97fe2bfd9d427697",
        "name": "ibrida",
        "info": "",
        "x": 990,
        "y": 300,
        "wires": []
    },
    {
        "id": "062a12e3b176d82a",
        "type": "comment",
        "z": "97fe2bfd9d427697",
        "name": "ibrida",
        "info": "",
        "x": 1170,
        "y": 300,
        "wires": []
    },
    {
        "id": "31617092da65c4bb",
        "type": "comment",
        "z": "97fe2bfd9d427697",
        "name": "bakery to ibrida",
        "info": "",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "f71182e6a7294e6f",
        "type": "comment",
        "z": "97fe2bfd9d427697",
        "name": "ibrida",
        "info": "",
        "x": 1350,
        "y": 300,
        "wires": []
    },
    {
        "id": "9fe105889c193fa2",
        "type": "comment",
        "z": "97fe2bfd9d427697",
        "name": "ibrida",
        "info": "",
        "x": 1510,
        "y": 300,
        "wires": []
    },
    {
        "id": "1852a5cbcdfdcc01",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "recipe (brewing)",
        "env": [],
        "x": 2140,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9823cbd829b19272",
        "type": "comment",
        "z": "97fe2bfd9d427697",
        "name": "brewery",
        "info": "",
        "x": 1690,
        "y": 300,
        "wires": []
    },
    {
        "id": "18517b9d82f6c05b",
        "type": "comment",
        "z": "97fe2bfd9d427697",
        "name": "brewery",
        "info": "",
        "x": 2110,
        "y": 140,
        "wires": []
    },
    {
        "id": "a619b4eeaa1208bf",
        "type": "comment",
        "z": "97fe2bfd9d427697",
        "name": "brewery",
        "info": "",
        "x": 2390,
        "y": 240,
        "wires": []
    },
    {
        "id": "cae4a92f48298065",
        "type": "subflow:c9cff8dccd3e7c63",
        "z": "97fe2bfd9d427697",
        "name": "produce - create",
        "env": [],
        "x": 570,
        "y": 360,
        "wires": [
            [],
            []
        ]
    }
]